<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="at.sunilson.doistillneedthisthing.androidApp">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:name=".BaseApplication"
            android:allowBackup="false"
            android:label="Do I still need this thing?"
            android:supportsRtl="true"
            android:theme="@style/App.Theme">
        <activity
                android:name=".MainActivity"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>